{% extends 'main/global.html' %}

{% block head %}
    <link rel= "stylesheet" 
    type= "text/css" 
    href= "{{url_for('static',filename='css/main/solicitacoes/requisicao/main.css')}}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <div class="div-card-cabecario d-flex align-items-center">
            Analise de Historia
        </div>
    </div>
    <div class="col-12">
        <div class="div-card mb-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt=""></span>
                <input id="myInput" type="text" class="form-control" placeholder="Pesquisar..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="table-cad">
                <table id="myTable" class="table table-hover">
                    <thead class="header">
                        <tr>
                            <th scope="col">Nro_tp</th>
                            <th scope="col">Analista</th>
                            <th scope="col">Issue</th>
                            <th scope="col">Situação</th>
                            <th scope="col">Criação</th>
                            <th scope="col">Finalização</th>
                            <th scope="col" class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alteracao in alteracoes %}
                            <a href="">
                                <tr data-url="{{url_for('analisealteracaoID', alteracao_id=alteracao.id)}}">
                                    <td>{{ alteracao.NRO_TP }}</td>
                                    <td>{{ alteracao.requester.USUARIO }}</td>
                                    <td>{{ alteracao.ISSUE.upper() }}</td>
                                    <td>{{ alteracao.FAZENDO[:100] }}</td>
                                    <td>{{ format_date(alteracao.DTA_CREATE) }}</td>
                                    {% if alteracao.STATUS == "FINALIZADA" %}
                                        <td>{{ format_date(alteracao.DTA_CONCLUDED) }}</td>
                                    {% else %}
                                        <td>{{ alteracao.DTA_CONCLUDED }}</td>
                                    {% endif %}
                                    {% if alteracao.STATUS == "NÃO INICIADO" %}
                                        <td class="status-tps-not-started text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% elif alteracao.STATUS == "EM ANALISE" %}
                                        <td class="status-tps-in-progress text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% elif alteracao.STATUS == "AGUARDANDO INFORMAÇÃO" %}
                                        <td class="status-tps-not-started text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% elif alteracao.STATUS == "AGUARDANDO ABERTURA DE ISSUE" %}
                                        <td class="status-tps-in-progress text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% elif alteracao.STATUS == "AGUARDANDO ADIÇÃO DE ROTULO" %}
                                        <td class="status-tps-in-progress text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% elif alteracao.STATUS == "FINALIZADA" %}
                                        <td class="status-tps-approved text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% elif alteracao.STATUS == "NÃO APROVADO" %}
                                        <td class="status-tps-not-approved text-center">{{ alteracao.STATUS.title() }}</td>
                                    {% endif %}
                                </tr>
                            </a>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });

    $(document).ready(function(){
    $('table tr').click(function(){
        window.location = $(this).data('url');
        returnfalse;
    });
    });
</script>

{% endblock %}