<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Solicitação Finalizada <small>Segunda at 17:43</small></h5>
    <p class="list-group-item-text">Helper: <strong>João Marconi</strong></p>
    <p class="list-group-item-text"> <strong>Resumo: </strong> Rotulo adicionado e solicitação finalizada</strong></p>
    <span class="text-status">FINALIZADA</span>
    <div class="clearfix"></div>
</div>
<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Solicitação de rotulo no JIRA <small>Segunda at 16:43</small></h5>
    <p class="list-group-item-text">Analista: <strong>Gabriel Reolon</strong></p>
    <p class="list-group-item-text"> <strong>Resumo: </strong> ISSUE aberta e informada na solicitação favor adicionar o rotulo</strong></p>
    <span class="text-status">AGUARDANDO ADIÇÃO DE ROTULO</span>
    <div class="clearfix"></div>
</div>
<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Aprovação de Abertura de ISSUE <small>Segunda at 15:43</small></h5>
    <p class="list-group-item-text">Helper: <strong>João Marconi</strong></p>
    <p class="list-group-item-text"> <strong>Resumo: </strong> Solicitação aprovada, apos a abertura da issue não esqueça de vincular o numero na solicitação para adição do rotulo de aprovação</strong></p>
    <span class="text-status">AGUARDANDO ABERTURA DE ISSUE</span>
    <div class="clearfix"></div>
</div>
<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Conclusão de Informação <small>Segunda at 14:43</small></h5>
    <p class="list-group-item-text">Analista: <strong>Gabriel Reolon</strong></p>
    <p class="list-group-item-text"> <strong>Resumo: </strong> Os manuais foram passados para o cliente porem o mesmo solicita o envio para alteração</strong></p>
    <span class="text-status">EM ANALISE</span>
    <div class="clearfix"></div>
</div>
<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Solicitação de Informação <small>Segunda at 13:43</small></h5>
    <p class="list-group-item-text">Helper: <strong>João Marconi</strong></p>
    <p class="list-group-item-text"> <strong>Resumo: </strong> Vi que na tp não foram passados o manual sobre o processo, o mesmo foi passado?</strong></p>
    <span class="text-status">AGUARDANDO INFORMAÇÂO</span>
    <div class="clearfix"></div>
</div>
<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Analise Iniciada<small>Segunda at 13:33</small></h5>
    <p class="list-group-item-text">Helper: <strong>João Marconi</strong></p>
    <span class="text-status">EM ANALISE</span>
    <div class="clearfix"></div>
</div>
<div class="list-group-item mb-3">
    <h5 class="list-group-item-heading">Abertura de Analise <small>Segunda as 12:33</small></h5>
    <p class="list-group-item-text">Analista Gabriel Reolon solicitou essa analise</p>
    <span class="text-status">AGUARDANDO INICIALIZAÇÂO</span>
</div>