{% extends 'main/global.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main/gestao/main.css')}}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="div-card mb-3">
            <div class="div-card-cabecario d-flex justify-content-center mb-2">
                Consulta chamados
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="title mb-1">
                        Data Abertura:
                    </div>
                    <div class="d-flex flex-row">
                        <input id="startDate" class="form-control" type="date" />
                        <label for="endDate" class="mx-2" >Até:</label>
                        <input id="endDate" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="title mb-1">
                        Produto:
                    </div> 
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalproduto">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modalproduto" tabindex="-1" role="dialog" aria-labelledby="modalprodutoLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalprodutoLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for produto in produtos %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {{produto[0]}}
                                        </label>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-1">
                        Equipe:
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalequipe">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modalequipe" tabindex="-1" role="dialog" aria-labelledby="modalequipeLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalequipeLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for equipe in equipes %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{equipe[0]}}
                                            </label>
                                        </div>
                                    {% endfor %}                                
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-1">
                        Analista:
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalanalista">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modalanalista" tabindex="-1" role="dialog" aria-labelledby="modalanalistaLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalanalistaLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for analista in analistas %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{analista[0]}}
                                            </label>
                                        </div>
                                    {% endfor %}                                
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-1">
                        Helper:
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalhelper">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modalhelper" tabindex="-1" role="dialog" aria-labelledby="modalhelperLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalhelperLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for helper in helpers %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{helper[0]}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <div class="title mb-1">
                        Data Encerramento:
                    </div>
                    <div class="d-flex flex-row">
                        <input id="startDate" class="form-control" type="date" />
                        <label for="endDate" class="mx-2" >Até:</label>
                        <input id="endDate" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="title mb-1">
                        Cliente:
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalcliente">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modalcliente" tabindex="-1" role="dialog" aria-labelledby="modalclienteLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalclienteLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for cliente in clientes %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{cliente[0]}}
                                            </label>
                                        </div>
                                    {% endfor %}                                
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-1">
                        Status:
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalstatus">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modalstatus" tabindex="-1" role="dialog" aria-labelledby="modalstatusLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modalstatusLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for statu in status %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{statu[0]}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-1">
                        Tipo Solicitação:
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modaltipo">
                            <img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt="">
                        </button>       
                    </div>
                    <div class="modal fade" id="modaltipo" tabindex="-1" role="dialog" aria-labelledby="modaltipoLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="modaltipoLabel">Selecione um registro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="content-body" style="overflow:hidden;">
                                    {% for tipo in tipos %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{tipo[0]}}
                                            </label>
                                        </div>
                                    {% endfor %}                                
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-1">
                        Filtro Rápido:
                    </div>
                    <select class="form-select form-select-sm">
                        <option selected> </option>
                        <option value="1">SLA_Encerrados Apollo_Toyota</option>
                        <option value="2">Backlog_Andamento Apollo_Toyota</option>
                        <option value="3">Total Abertura Apollo_Toyota</option>
                        <option value="4">Reaberto Apollo_Toyota</option>
                        <option value="5">Encerrados Apollo_Toyota</option>
                        <option value="6">Abertos + 15 Apollo_Toyota</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Somente chamados de suporte
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-2">
                        Nível NPS:
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radionps" id="radionps1">
                        <label class="form-check-label" for="radionps1">
                            Promotor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radionps" id="radionps2" checked>
                        <label class="form-check-label" for="radionps2">
                            Neutro
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radionps" id="radionps2" checked>
                        <label class="form-check-label" for="radionps2">
                            Detrator
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radionps" id="radionps2" checked>
                        <label class="form-check-label" for="radionps2">
                            Todos
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-2">
                        Aberto/Encerrado:
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioabertoencerrado" id="radioabertoencerrado1">
                        <label class="form-check-label" for="radioabertoencerrado1">
                            Aberto
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioabertoencerrado" id="radioabertoencerrado2" checked>
                        <label class="form-check-label" for="radioabertoencerrado2">
                            Encerrado
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioabertoencerrado" id="radioabertoencerrado2" checked>
                        <label class="form-check-label" for="radioabertoencerrado2">
                            Ambos
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-2">
                        FCR:
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radiofcr" id="radiofcr1">
                        <label class="form-check-label" for="radiofcr1">
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radiofcr" id="radiofcr2" checked>
                        <label class="form-check-label" for="radiofcr2">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radiofcr" id="radiofcr2" checked>
                        <label class="form-check-label" for="radiofcr2">
                            Ambos
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-2">
                        Reaberto:
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioreabertura" id="radioreabertura1">
                        <label class="form-check-label" for="radioreabertura1">
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioreabertura" id="radioreabertura2" checked>
                        <label class="form-check-label" for="radioreabertura2">
                            Não
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioreabertura" id="radioreabertura2" checked>
                        <label class="form-check-label" for="radioreabertura2">
                            Ambos
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="title mb-2">
                        No SLA:
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioSLA" id="radioSLA1">
                        <label class="form-check-label" for="radioSLA1">
                            Backlog
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioSLA" id="radioSLA2" checked>
                        <label class="form-check-label" for="radioSLA2">
                            No SLA
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioSLA" id="radioSLA2" checked>
                        <label class="form-check-label" for="radioSLA2">
                            Ambos
                        </label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
                <button class="btn btn-cadastro-salvar" >Pesquisar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}