<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linx DMS Help</title>
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://www.linx.com.br/app/themes/linx/webpack/dist/images/favicons/favicon-96x96.png">

    <!-- Chamada  -->
    {% block head %}
    {% endblock %}

    <!-- internal styling -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main/global.css')}}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">

    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="col-6 navbar-lside">
            <spam>Linx DMS Help</spam>
        </div>
        <div class="col-6 navbar-rside">
            <a href="#"><img src="../../static/img/site/icon-user-black.png">
                <spam>{{ current_user.USUARIO }}</spam>
            </a>
            <a href="{{ url_for('logout') }}"><img src="../../static/img/site/icons8-logout-32.png"></a>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="menu">
            <a href="{{ url_for('dashboard') }}"><img src="../../static/img/site/icon-logo.png" class="img-linx"></a>
        </div>
        <div class="menu" data-toggle="canvas" data-target="#bs-canvas-left" aria-expanded="false"
            aria-controls="bs-canvas-left">
            <a><img src="../../static/img/site/menu-icon 1.svg" class="img-nav"></a>
        </div>
        <div class="menu">
            <a href=""><img src="../../static/img/site/menu-icon 2.svg" class="img-pesq"></a>
        </div>

        <div class="col-8 sidebar-perfil">
            <a href="#"><img src="../../static/img/site/icon-user-white.png">
                <spam>{{ current_user.USUARIO }}</spam>
            </a>
            <a href="#"><img src="../../static/img/site/icon-ring-white.png"></a>
        </div>
    </div>

    <!-- Off-canvas sidebar -->
    <div class="bs-canvas-overlay bs-canvas-anim bg-dark-ani position-fixed w-100 h-100"></div>
    <div id="bs-canvas-left" class="bs-canvas bs-canvas-anim bs-canvas-left position-fixed h-100">
        <header class="bs-canvas-header p-3">
            <a href="{{ url_for('dashboard') }}">
                <img src="../../static/img/site/icon-logo.png" class="img-linx">
                <spam>Linx DMS Help</spam>
            </a>
            <button type="button" class="bs-canvas-close close" aria-label="Close">X</button>
        </header>
        <div class="bs-canvas-content">
            <!--  <button class="analise-btn menu-btn"><img src="../../static/img/site/Arrow 1.svg"> Analises</button>
            <div class="analise-container menu-container">
                <a href="#"><div></div>Erro</a>
                <a href="#"><div></div>Alteração</a>
                <a href="#"><div></div>Serviço</a>
                <a href="#"><div></div>Compilação</a>
                <a href="#"><div></div>Importação</a>
                <a href="#"><div></div>Share</a>
                <a href="#"><div></div>Help</a>
            </div> -->
            <!--  <button class="treinamento-btn menu-btn"><img src="../../static/img/site/Arrow 1.svg">Treinamento</button>
            <div class="treinamento-container menu-container">
                <a href="#"><div></div>Imp/Conf de Bases</a>
                <a href="#"><div></div>SQL e Monitor</a>
                <a href="#"><div></div>Estrutura de Ambiente</a>
                <a href="#"><div></div>LinxDMS</a>
                <a href="#"><div></div>Emissão de NFe</a>
            </div>  -->
            <button class="ferramentas-btn menu-btn"><img src="../../static/img/site/Arrow 1.svg">Ferramentas</button>
            <div class="ferramentas-container menu-container">
                <a href="{{ url_for('limpezatemp') }}"><div></div>Limpeza de Arq Temp</a>
                <a href="{{ url_for('criaatualiza') }}"><div></div>Criação/Atualização de Ambiente</a>
            </div>
            <button class="cad-btn menu-btn"><img src="../../static/img/site/Arrow 1.svg">Cadastros</button>
                <div class="cad-container menu-container">
                    <a href="{{ url_for('cadastroAnalista') }}"><div></div>Analista</a>
                    {% if current_user.TIPO in ('G', 'H') %}
                        <a href="{{ url_for('cadastroHelper') }}"><div></div>Helper</a>
                        <a href="{{ url_for('cadastroGestor') }}"><div></div>Gestor</a>
                        <a href="{{ url_for('cadastroCargo') }}"><div></div>Cargo</a>
                        <a href="{{ url_for('cadastroTime') }}"><div></div>Time</a>
                        <a href="{{ url_for('cadastroBases') }}"><div></div>Bases</a>
                    {% endif %}
                </div>
            <button class="externos-btn menu-btn"><img src="../../static/img/site/Arrow 1.svg">Links Externos</button>
            <div class="externos-container menu-container">
                <a href="https://wf.linx.com.br/" target="_blank"><div></div>Work Flow</a>
                <a href="https://share.linx.com.br/login.action?os_destination=%2F" target="_blank"><div></div>Linx Share</a>
                <a href="https://jira.linx.com.br/secure/Dashboard.jspa" target="_blank"><div></div>Jira</a>
                <a href="http://apollo-app03.eastus.cloudapp.azure.com:81/" target="_blank"><div></div>Dicionario do Banco</a>
                <a href="https://share.linx.com.br/pages/viewpage.action?pageId=304502307" target="_blank"><div></div>DVI</a>
                {% if current_user.TIPO in ('G', 'H') %}
                    <a href="https://suporte.ccmtecnologia.com.br/portal/pt/signin" target="_blank"><div></div>CCM</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Chamada  -->
    <div class="corpo-site">
        {% block body %}
        {% endblock %}
    </div>

    <!-- Configuração de Mensagens Flash  -->
    {% with mensagens = get_flashed_messages(with_categories=True) %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                {% if categoria == 'alert-sucess' %}
                <div id="mensagens" class="alert {{ categoria }}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    {{ mensagem }}
                </div>
                {% else %}
                <div id="mensagens" class="alert {{ categoria }}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    {{ mensagem }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- internal scripts -->
    <script>
        $('#recipeCarousel').carousel({
            interval: 10000
            })

        $('.carousel .carousel-item').each(function(){
            var minPerSlide = 5;
            var next = $(this).next();
            if (!next.length) {
            next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
            
            for (var i=0;i<minPerSlide;i++) {
                next=next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                
                next.children(':first-child').clone().appendTo($(this));
            }
        });

        jQuery(document).ready(function($) {
        var bsDefaults = {
                offset: false,
                overlay: true,
                width: '300px'
            },
            bsMain = $('.bs-offset-main'),
            bsOverlay = $('.bs-canvas-overlay');

        $('[data-toggle="canvas"][aria-expanded="false"]').on('click', function() {
            var canvas = $(this).data('target'),
                opts = $.extend({}, bsDefaults, $(canvas).data()),
                prop = $(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left';

            if (opts.width === '100%')
                opts.offset = false;
            
            $(canvas).css('width', opts.width);
            if (opts.offset && bsMain.length)
                bsMain.css(prop, opts.width);

            $(canvas + ' .bs-canvas-close').attr('aria-expanded', "true");
            $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr('aria-expanded', "true");
            if (opts.overlay && bsOverlay.length)
                bsOverlay.addClass('show');
            return false;
        });

        $('.bs-canvas-close, .bs-canvas-overlay').on('click', function() {
            var canvas, aria;
            if ($(this).hasClass('bs-canvas-close')) {
                canvas = $(this).closest('.bs-canvas');
                aria = $(this).add($('[data-toggle="canvas"][data-target="#' + canvas.attr('id') + '"]'));
                if (bsMain.length)
                    bsMain.css(($(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'), '');
            } else {
                canvas = $('.bs-canvas');
                aria = $('.bs-canvas-close, [data-toggle="canvas"]');
                if (bsMain.length)
                    bsMain.css({
                    'margin-left': '',
                    'margin-right': ''
                    });
            }
            canvas.css('width', '');
            aria.attr('aria-expanded', "false");
            if (bsOverlay.length)
                bsOverlay.removeClass('show');
            return false;
        });
        });

        var analise = document.getElementsByClassName("analise-btn");
        var i;

        for (i = 0; i < analise.length; i++) {
        analise[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var analiseContent = this.nextElementSibling;
            if (analiseContent.style.display === "block") {
            analiseContent.style.display = "none";
            } else {
            analiseContent.style.display = "block";
            }
        });
        }

        var treinamento = document.getElementsByClassName("treinamento-btn");
        var i;

        for (i = 0; i < treinamento.length; i++) {
        treinamento[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var treinamentoContent = this.nextElementSibling;
            if (treinamentoContent.style.display === "block") {
            treinamentoContent.style.display = "none";
            } else {
            treinamentoContent.style.display = "block";
            }
        });
        }

        var ferramentas = document.getElementsByClassName("ferramentas-btn");
        var i;

        for (i = 0; i < ferramentas.length; i++) {
        ferramentas[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var ferramentasContent = this.nextElementSibling;
            if (ferramentasContent.style.display === "block") {
            ferramentasContent.style.display = "none";
            } else {
            ferramentasContent.style.display = "block";
            }
        });
        }

        var cadastro = document.getElementsByClassName("cad-btn");
        var i;

        for (i = 0; i < cadastro.length; i++) {
        cadastro[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var cadastroContent = this.nextElementSibling;
            if (cadastroContent.style.display === "block") {
            cadastroContent.style.display = "none";
            } else {
            cadastroContent.style.display = "block";
            }
        });
        }


        var externos = document.getElementsByClassName("externos-btn");
        var i;

        for (i = 0; i < externos.length; i++) {
        externos[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var externosContent = this.nextElementSibling;
            if (externosContent.style.display === "block") {
            externosContent.style.display = "none";
            } else {
            externosContent.style.display = "block";
            }
        });
        }
    </script>
</body>

</html>