{% extends 'main/global.html' %}

{% block head %}
    <link rel= "stylesheet" 
    type= "text/css" 
    href= "{{url_for('static',filename='css/main/solicitacoes/requisicao/main.css')}}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <div class="div-card-cabecario d-flex align-items-center">
            Analise de Erro
            
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <div class="div-card mb-3">
            {% if request.path == url_for('solicitacaoHelp') %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt=""></span>
                    <input id="myInput" type="text" class="form-control" placeholder="Pesquisar..." aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="table-cad">
                    <table id="myTable" class="table table-bordered table-striped table-hover">
                        <thead class="header">
                            <tr>
                                <th scope="col">Nro_tp</th>
                                <th scope="col">Helper</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for help in helps %}
                                <a href="">
                                    <tr data-url="{{url_for('solicitacaoHelpID', help_id=help.id)}}">
                                        <td>{{ help.NRO_TP }}</td>
                                        <td>{{ help.finisher.USUARIO }}</td>
                                        <td>{{ help.STATUS }}</td>
                                    </tr>
                                </a>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="div-card mb-3">
                    Movimentações
                    <div class="container div-card-mov">
                        <div class="row">
                            <div class="col-12 pt-4">
                                {% for mov in movs: %}
                                    <div class="list-group-item mb-3">
                                        <h6 class="list-group-item-heading">{{ mov.TITULO }}<br><small>{{ format_date_time(mov.DTA_CREATE) }}</small></h6>
                                        {% if mov.TIPO == 'A' %}
                                            <p class="list-group-item-text">Analista: <strong>{{mov.ANALISTA}}</strong></p>
                                        {% elif mov.TIPO == 'H' %}
                                            <p class="list-group-item-text">Helper: <strong>{{mov.HELPER}}</strong></p>
                                        {% endif %}
                                        <p class="list-group-item-text"> <strong>Resumo: </strong>{{mov.RESUMO}}</strong></p>
                                        <span class="text-status">{{mov.STATUS}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <div class="div-card">
            <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {{ form_help.csrf_token }}
                <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Encaminhamento de Solicitação</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3 mr-3 col-12">
                                    {% if form_help.helper.errors %}
                                        {{ form_help.helper.label(class="form-label") }}
                                        {{ form_help.helper(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form_help.helper.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_help.helper.label(class="form-label") }}
                                        {{ form_help.helper(class="form-control") }}
                                    {% endif %}
                                </div>
                                <div class="col-12 d-flex flex-column">
                                    {{ form_help.btn_submit_encaminhar(class="btn btn-cadastro-salvar mb-3") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="mb-3 col-3">
                                {% if form_help.nro_tp.errors %}
                                    {{ form_help.nro_tp.label(class="form-label") }}
                                    {{ form_help.nro_tp(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_help.nro_tp.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_help.nro_tp.label(class="form-label") }}
                                    {{ form_help.nro_tp(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-8">
                                {% if form_help.menu_dir.errors %}
                                    {{ form_help.menu_dir.label(class="form-label") }}
                                    {{ form_help.menu_dir(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_help.menu_dir.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_help.menu_dir.label(class="form-label") }}
                                    {{ form_help.menu_dir(class="form-control") }}
                                {% endif %} 
                            </div>
                            <div class="mb-3 col-3">
                                {% if form_help.menu_cod.errors %}
                                    {{ form_help.menu_cod.label(class="form-label") }}
                                    {{ form_help.menu_cod(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_help.menu_cod.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_help.menu_cod.label(class="form-label") }}
                                    {{ form_help.menu_cod(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        <div class="mb-3 col-12 div-cod">
                            {% if form_help.problema.errors %}
                                {{ form_help.problema.label(class="form-label") }}
                                {{ form_help.problema(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_help.problema.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_help.problema.label(class="form-label") }}
                                {{ form_help.problema(class="form-control") }}
                            {% endif %} 
                        </div>
                        <div class="mb-3 col-12 div-cod">
                            {% if form_help.analisado.errors %}
                                {{ form_help.analisado.label(class="form-label") }}
                                {{ form_help.analisado(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_help.analisado.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_help.analisado.label(class="form-label") }}
                                {{ form_help.analisado(class="form-control") }}
                            {% endif %} 
                        </div>
                        <div class="mb-3 col-12 div-cod">
                            {% if form_help.duvida.errors %}
                                {{ form_help.duvida.label(class="form-label") }}
                                {{ form_help.duvida(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_help.duvida.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_help.duvida.label(class="form-label") }}
                                {{ form_help.duvida(class="form-control") }}
                            {% endif %} 
                        </div>
                        <div class="mb-3 col-12 div-cod">
                            {% if form_help.paliativa.errors %}
                                {{ form_help.paliativa.label(class="form-label") }}
                                {{ form_help.paliativa(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_help.paliativa.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_help.paliativa.label(class="form-label") }}
                                {{ form_help.paliativa(class="form-control") }}
                            {% endif %} 
                        </div>
                        <div class="row mb-3">
                            <div class="mb-3 col-7">
                                {% if form_help.db_teste.errors %}
                                    {{ form_help.db_teste.label(class="form-label") }}
                                    {{ form_help.db_teste(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_help.db_teste.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_help.db_teste.label(class="form-label") }}
                                    {{ form_help.db_teste(class="form-control") }}
                                {% endif %} 
                            </div>
                            <div class="mb-3 col-2">
                                {% if form_help.versao.errors %}
                                    {{ form_help.versao.label(class="form-label") }}
                                    {{ form_help.versao(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_help.versao.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_help.versao.label(class="form-label") }}
                                    {{ form_help.versao(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        <div class="mb-3 col-12 div-cod">
                            {% if form_help.docs.errors %}
                                {{ form_help.docs.label(class="form-label") }}
                                {{ form_help.docs(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_help.docs.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_help.docs.label(class="form-label") }}
                                {{ form_help.docs(class="form-control") }}
                            {% endif %} 
                        </div>
                        {% if request.path != url_for('solicitacaoHelp') %}
                            <div class="mb-3 col-12 div-cod">
                                {% if form_help.solucao.errors %}
                                    {{ form_help.solucao.label(class="form-label") }}
                                    {{ form_help.solucao(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_help.solucao.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_help.solucao.label(class="form-label") }}
                                    {{ form_help.solucao(class="form-control") }}
                                {% endif %} 
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-3 d-flex flex-column mt-5">
                        {% if request.path == url_for('solicitacaoHelp') %}
                            {{ form_help.btn_submit_inserir(class="btn btn-cadastro-salvar mb-3") }}
                        {% else %}
                            {% if helpID.STATUS == 'AGUARDANDO INFORMAÇÃO' %}
                                {{ form_help.btn_submit_infores(class="btn btn-cadastro-salvar mb-3") }}
                            {% endif %}
                                <a class="btn btn-cadastro mb-3" href="{{url_for('helpdoc', help_id=helpID.id)}}">Baixar Arquivos</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });

    $(document).ready(function(){
    $('table tr').click(function(){
        window.location = $(this).data('url');
        returnfalse;
    });
    });
</script>

{% endblock %}