{% extends 'main/global.html' %}

{% block head %}
    <link rel= "stylesheet" 
    type= "text/css" 
    href= "{{url_for('static',filename='css/main/solicitacoes/requisicao/main.css')}}">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <div class="div-card-cabecario d-flex align-items-center">
            Analise de Share
            
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
        <div class="div-card mb-3">
            {% if request.path == url_for('solicitacaoShare') %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><img src="{{url_for('static',filename='img/site/icon-pesquisa.svg')}}" alt=""></span>
                    <input id="myInput" type="text" class="form-control" placeholder="Pesquisar..." aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="table-cad">
                    <table id="myTable" class="table table-bordered table-striped table-hover">
                        <thead class="header">
                            <tr>
                                <th scope="col">Nro_tp</th>
                                <th scope="col">Franqueado</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for share in shares %}
                                <a href="">
                                    <tr data-url="{{url_for('solicitacaoShareID', share_id=share.id)}}">
                                        <td>{{ share.TITULO }}</td>
                                        <td>{{ share.LINK }}</td>
                                        <td>{{ share.STATUS }}</td>
                                    </tr>
                                </a>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="div-card mb-3">
                    Movimentações
                    <div class="container div-card-mov">
                        <div class="row">
                            <div class="col-12 pt-4">
                                {% for mov in movs: %}
                                    <div class="list-group-item mb-3">
                                        <h6 class="list-group-item-heading">{{ mov.TITULO }}<br><small>{{ format_date_time(mov.DTA_CREATE) }}</small></h6>
                                        {% if mov.TIPO == 'A' %}
                                            <p class="list-group-item-text">Analista: <strong>{{mov.ANALISTA}}</strong></p>
                                        {% elif mov.TIPO == 'H' %}
                                            <p class="list-group-item-text">Helper: <strong>{{mov.HELPER}}</strong></p>
                                        {% endif %}
                                        <p class="list-group-item-text"> <strong>Resumo: </strong>{{mov.RESUMO}}</strong></p>
                                        <span class="text-status">{{mov.STATUS}}</span>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
        <div class="div-card">
            <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {{ form_share.csrf_token }}
                <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Encaminhamento de Solicitação</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3 mr-3 col-12">
                                    {% if form_share.helper.errors %}
                                        {{ form_share.helper.label(class="form-label") }}
                                        {{ form_share.helper(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form_share.helper.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_share.helper.label(class="form-label") }}
                                        {{ form_share.helper(class="form-control") }}
                                    {% endif %}
                                </div>
                                <div class="col-12 d-flex flex-column">
                                    {{ form_share.btn_submit_encaminhar(class="btn btn-cadastro-salvar mb-3") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="mb-3 col-11">
                                {% if form_share.titulo.errors %}
                                    {{ form_share.titulo.label(class="form-label") }}
                                    {{ form_share.titulo(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_share.titulo.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_share.titulo.label(class="form-label") }}
                                    {{ form_share.titulo(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                {% if form_share.produto.errors %}
                                    {{ form_share.produto.label(class="form-label") }}
                                    {{ form_share.produto(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_share.produto.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_share.produto.label(class="form-label") }}
                                    {{ form_share.produto(class="form-control") }}
                                {% endif %} 
                            </div>
                            <div class="mb-3 col-5">
                                {% if form_share.modulo.errors %}
                                    {{ form_share.modulo.label(class="form-label") }}
                                    {{ form_share.modulo(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_share.modulo.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_share.modulo.label(class="form-label") }}
                                    {{ form_share.modulo(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-11">
                                {% if form_share.finalidade.errors %}
                                    {{ form_share.finalidade.label(class="form-label") }}
                                    {{ form_share.finalidade(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_share.finalidade.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_share.finalidade.label(class="form-label") }}
                                    {{ form_share.finalidade(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-11">
                                {% if form_share.link.errors %}
                                    {{ form_share.link.label(class="form-label") }}
                                    {{ form_share.link(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_share.link.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form_share.link.label(class="form-label") }}
                                    {{ form_share.link(class="form-control") }}
                                {% endif %} 
                            </div>
                        </div>
                        {% if request.path != url_for('solicitacaoShare') %}
                            <div class="row">
                                <div class="mb-3 col-11 d">
                                    {% if form_share.solucao.errors %}
                                        {{ form_share.solucao.label(class="form-label") }}
                                        {{ form_share.solucao(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form_share.solucao.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_share.solucao.label(class="form-label") }}
                                        {{ form_share.solucao(class="form-control") }}
                                    {% endif %} 
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-3 d-flex flex-column mt-5">
                        {% if request.path == url_for('solicitacaoShare') %}
                            {{ form_share.btn_submit_inserir(class="btn btn-cadastro-salvar mb-3") }}
                        {% else %}
                            {% if shareID.STATUS == 'AGUARDANDO INFORMAÇÃO' %}
                                {{ form_share.btn_submit_infores(class="btn btn-cadastro-salvar mb-3") }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });

    $(document).ready(function(){
    $('table tr').click(function(){
        window.location = $(this).data('url');
        returnfalse;
    });
    });
</script>

{% endblock %}